.videos-list__btn.btn.btn-outline-primary {
  border-bottom: none;
  border-left: none;
}

.views__icons img {
  height: 20px;
  margin: 10px;
}

.active img{
  height: 30px;
  background-color: rgba(197, 188, 188, .6)
}

.views__icons.btn.btn-outline-link {
  padding: 0;
}

.sort-by-dropdown {
  display: inline-flex;
  margin: 5px 15px;
}

.list__btn.btn.btn-outline-primary {
  border-bottom: none;
  border-left: none;
}
